---
import Layout from '../layouts/Layout.astro';
import Principal from '../sections/Principal.astro';
import Skills from '../sections/Skills.astro';
import Proyects from '../sections/Proyects.astro';
import SobreMi from '../sections/SobreMi.astro';
---

<Layout title="Portofolio de Lau Wong Developer">
	<Principal/>
	<div class="py-10 max-w-xl xl:max-w-full space-y-16 mx-auto">
		<Skills/>
		<Proyects/>
		<SobreMi/>
		
	</div>
	
</Layout>
