---
import MenuHambuger from "../icons/MenuHambuger.astro";
import DarkModeSwitcher from "./DarkModeSwitcher.astro"

---

<header class="w-full relative">
    <nav class="px-8 h-14 flex items-center bg-white/50 dark:bg-night/50 text-midnight-eclipse shadow-md fixed top-0 inset-x-0 z-[50] backdrop-blur-lg">
        <div class="w-full max-w-screen-lg  mx-auto flex justify-between md:justify-center items-center">
            <div class="relative z-30">
                <button id="btnMenu" class="md:hidden">
                    <MenuHambuger class="text-midnight-eclipse dark:text-white"/>
                </button>
    
                <!-- menu for mobile -->
    
                <div class="font-medium absolute hidden top-10 left-0 p-3 bg-white dark:bg-blue-950/90 z-40 rounded-lg shadow-lg text-midnight-eclipse min-w-[9rem] overflow-hidden text-left backdrop-blur-md"  id="menuOptions">
                    <ul class="space-y-3.5">
                        <li class="">
                            <a href="/#sobreMi" class="hover:text-celestial-azure transition-colors duration-300">Sobre mí</a>
                        </li>
                        <li class="">
                            <a href="/#experiencia" class="hover:text-celestial-azure transition-colors duration-300">Experiencia</a>
                        </li>
                        <li class="">
                            <a href="/#proyectos" class="hover:text-celestial-azure transition-colors duration-300">Proyectos</a>
                        </li>
                        <li class="">
                            <a href="/#contacto" class="hover:text-celestial-azure transition-colors duration-300">Contacto</a>
                        </li>
                    </ul>
                </div>
    
                <!-- menu for desktop -->
                <ul class="hidden md:flex items-center gap-5 font-medium text-midnight-eclipse dark:text-white">
                    <li class="">
                        <a href="/#sobreMi" class="hover:text-celestial-azure transition-colors duration-300 ease-out">Sobre mí</a>
                    </li>
                    <li class="">
                        <a href="/#experiencia" class="hover:text-celestial-azure transition-colors duration-300 ease-out">Experiencia</a>
                    </li class="px-2">
                    <li class="">
                        <a href="/#proyectos" class="hover:text-celestial-azure transition-colors duration-300 ease-out">Proyectos</a>
                    </li>
                    <li class="">
                        <a href="#contacto" class="hover:text-celestial-azure transition-colors duration-300 ease-out">Contacto</a>
                    </li>
                </ul>
            </div>
    
            <div class="flex gap-2 ml-6 items-center justify-center group">
                <DarkModeSwitcher class= "cursor-pointer w-5 h-5 sm:w-5 sm:h-5 text-gray-800 dark:fill-white dark:text-white group-hover:scale-105"/>
            </div>
        </div>
    </nav>
</header>

<script>
    const switchTheme = document.querySelector('#switcher');
    const HTMLTag = document.documentElement;
    const storageThemeValue = localStorage.getItem('theme');
    const systemColorScheme = window.matchMedia(('prefers-color-scheme: dark)')).matches ? 'dark' : 'light';
    let savedTheme = storageThemeValue?? systemColorScheme;

    document.addEventListener('DOMContentLoaded', ()=>{
        switchTheme?.addEventListener('click', ()=>{
            let changeToTheme = HTMLTag.getAttribute('data-theme') === 'dark' ? 'light': 'dark';
            HTMLTag.setAttribute('data-theme', changeToTheme);
            localStorage.setItem('theme', changeToTheme);
        })

    })

    //navbar menu mobile
    const toogleButton = document.querySelector('#btnMenu')
    const menuOptions = document.querySelector('#menuOptions')
    console.log(menuOptions)
    toogleButton?.addEventListener('click', e=> {
        e.preventDefault()
        menuOptions?.classList.toggle('hidden')
    })

    menuOptions?.querySelectorAll('ul li a').forEach(option => {
        option.addEventListener('click', () =>{
            menuOptions?.classList.toggle('hidden')
        })
    })
    
</script>