---

---
<section class="w-full py-14" id="experiencia">
    <div class="space-y-1.5">
        <span class="uppercase text-xs text-cyber-steel font-semibold dark:text-gray-500">Trayectoría</span>
        <h2 class="text-3xl font-extrabold text-twilight-navy dark:text-white">Experiencia Laboral</h2>
        <p class="text-midnight-eclipse dark:text-slate-100 max-w-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minus odio ad? Natus harum voluptatum, sed error quibusdam cumque ipsum.
        </p>
    </div>
    <div class="relative mt-8">
        <!-- linea vertical central -->
         <div class="absolute left-4 sm:left-1/2 h-full w-0.5 bg-cyber-steel transform -translate-x-1/2"></div>
         <div class="space-y-12">
            <!-- cards for linetime -->
            <div class="relative">
                <!-- punto en la linea de tiempo -->
                <div class="absolute left-4 sm:left-1/2 transform -translate-x-1/2 w-4 h-4 bg-horizon-blue rounded-full border-4 border-cloud-white"></div>

                 <!-- contenido -->
                <div class="ml-12 sm:ml-0 sm:pr-12 sm:text-right sm:w-1/2">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <div class="mb-4">
                            <h4 class="text-xl font-bold text-twilight-navy">Desarrollador Frontend</h4>
                            <p class="text-gray-600 mt-1">2025 (Enero - Mayo)</p>
                        </div>
                          
                        <div>
                          <ul class="space-y-2">
                              <li class="flex items-start sm:flex-row-reverse gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Optimización de rendimiento web</span>
                              </li>
                              <li class="flex items-start sm:flex-row-reverse gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Mantenimiento de aplicaciones web</span>
                              </li>
                              <li class="flex items-start sm:flex-row-reverse gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Desarrollo de componentes reutilizables</span>
                              </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative">
                <!-- punto en la linea de tiempo -->
                <div class="absolute left-4 sm:left-1/2 transform -translate-x-1/2 w-4 h-4 bg-horizon-blue rounded-full border-4 border-cloud-white"></div>

                 <!-- contenido -->
                <div class="ml-12 sm:mr-0 sm:pl-12 sm:w-1/2 sm:ml-auto">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <div class="mb-4">
                            <h4 class="text-xl font-bold text-twilight-navy">Desarrollador Frontend</h4>
                            <p class="text-gray-600 mt-1">2024 - 2025</p>
                          </div>
                          
                          <ul class="space-y-2">
                              <li class="flex items-start gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Creación de temas personalizados</span>
                              </li>
                              <li class="flex items-start gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Desarrollo desde cero con PHP, HTML, CSS y JavaScript</span>
                              </li>
                              <li class="flex items-start gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Desarrollo de componentes reutilizables</span>
                              </li>
                              <li class="flex items-start gap-2 text-midnight-eclipse">
                                <span class="flex-shrink-0 w-1.5 h-1.5 mt-2 bg-celestial-azure"></span>
                                <span class="text-cyber-steel">Desarrollo de plugins personalizados</span>
                              </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>