---
import AstroIcon from '../icons/AstroIcon.astro'
import CodeIcon from '../icons/CodeIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import HtmlIcon from '../icons/HtmlIcon.astro'
import JavaScriptIcon from '../icons/JavaScriptIcon.astro'
import PreviewIcon from '../icons/PreviewIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'

---


<section class="w-full" id="projects">
    <h2 class="flex items-center  text-3xl font-semibold gap-x-8 text-indigo-700 dark:text-sky-500  mb-6 xl:mb-8 ">
        <CodeIcon class="size-10" />
        Proyectos
    </h2>
    <div class="flex flex-col gap-y-12">
        <article class="group flex flex-col xl:flex-row justify-between">
            <div class="w-full xl:w-1/2 xl:order-1">
                <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1.5 md:group-hover:shadow-lg lg:border lg:border-sky-400 lg:hover:border-white lg:hover:bg-indigo-800/50">
                    <img src="/images/project-1.webp" alt="my-proyect" loading="lazy" class="object-cover object-left-top w-full h-56 transition duration-500 sm:h-72 md:h-80 scale-110 group-hover:scale-105">
                </div>
            </div>

            <div class="w-full xl:w-1/2 mt-4 xl:mt-0">
                <h3 class="text-2xl font-medium text-sky-400 dark:text-slate-100">Rest-countries-react-app</h3>
                <div class="space-y-2 mt-2">
                    <ul class="flex flex-row mb-2 gap-x-2"> 
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-white text-sky-400 py-1 px-2 "> 
                                <ReactIcon class="size-4"/>
                                React
                            </span> 
                        </li>
                        
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2 "> 
                                <TailwindIcon class="size-4"/>
                                Tailwind CSS 
                            </span> 
                        </li> 
                    </ul>

                    <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7 text-pretty">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sed, placeat magnam dicta expedita deserunt non tempore consectetur aspernatur provident laudantium exercitationem, nesciunt nihil blanditiis veritatis sit a qui, pariatur inventore error ipsam. Molestiae eos consequatur placeat. Libero, officia odit?
                    </p>
                    <div class="flex items-center gap-x-3">
                        <a href="https://github.com/lancer751/Rick-and-Morty-Filters-ReactApp" target="_blank" class="p-1.5 text-white text-sm font-normal gap-x-2 px-6 py-2 rounded-full bg-black flex items-center justify-center hover:scale-[1.05] transition-transform"
                            >
                            <GithubIcon/>
                            Ver Código
                        </a>

                        <a href="https://rest-countries-mockdata-react-app.netlify.app" target="_blank" class="inline-flex items-center justify-center h-max bg-cyan-500 shadow-lg transition-colors hover:bg-sky-400 hover:shadow-sky-400/50 shadow-cyan-500/50 px-8 py-2 gap-x-2 rounded-lg font-normal">
                            <PreviewIcon/>
                            Preview
                        </a>

                    </div>
                </div>
            </div>
        </article>

        <article class="group flex flex-col xl:flex-row justify-between">
            <div class="w-full xl:w-1/2 xl:order-1">
                <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1.5 md:group-hover:shadow-lg lg:border lg:border-sky-400 lg:hover:border-white lg:hover:bg-indigo-800/50">
                    <img src="/images/project-2.webp" alt="my-proyect" loading="lazy" class="object-cover object-left-top w-full h-56 transition duration-500 sm:h-72 md:h-80 scale-110 group-hover:scale-105">
                </div>
            </div>

            <div class="w-full xl:w-1/2 mt-4 xl:mt-0">
                <h3 class="text-2xl font-medium text-sky-400 dark:text-slate-100">Rick-and-Morty-Filters-ReactApp</h3>
                <div class="space-y-2 mt-2">
                    <ul class="flex flex-row mb-2 gap-x-2"> 
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-white text-sky-400 py-1 px-2 "> 
                                <ReactIcon class="size-4"/>
                                React
                            </span> 
                        </li>
                        
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2 "> 
                                <TailwindIcon class="size-4"/>
                                Tailwind CSS 
                            </span> 
                        </li> 
                    </ul>

                    <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7 text-pretty">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sed, placeat magnam dicta expedita deserunt non tempore consectetur aspernatur provident laudantium exercitationem, nesciunt nihil blanditiis veritatis sit a qui, pariatur inventore error ipsam. Molestiae eos consequatur placeat. Libero, officia odit?
                    </p>
                    <div class="flex items-center gap-x-3">
                        <a href="https://github.com/lancer751/Rick-and-Morty-Filters-ReactApp" target="_blank" class="p-1.5 text-white text-sm font-normal gap-x-2 px-6 py-2 rounded-full bg-black flex items-center justify-center hover:scale-[1.05] transition-transform"
                            >
                            <GithubIcon/>
                            Ver Código
                        </a>

                        <a href="https://rest-countries-mockdata-react-app.netlify.app" target="_blank" class="inline-flex items-center justify-center h-max bg-cyan-500 shadow-lg transition-colors hover:bg-sky-400 hover:shadow-sky-400/50 shadow-cyan-500/50 px-8 py-2 gap-x-2 rounded-lg font-normal">
                            <PreviewIcon/>
                            Preview
                        </a>

                    </div>
                </div>
            </div>
        </article>

        <article class="group flex flex-col xl:flex-row justify-between">
            <div class="w-full xl:w-1/2 xl:order-1">
                <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1.5 md:group-hover:shadow-lg lg:border lg:border-sky-400 lg:hover:border-white lg:hover:bg-indigo-800/50">
                    <img src="/images/project-3.webp" alt="my-proyect" loading="lazy" class="object-cover object-left-top w-full h-56 transition duration-500 sm:h-72 md:h-80 scale-110 group-hover:scale-105">
                </div>
            </div>

            <div class="w-full xl:w-1/2 mt-4 xl:mt-0">
                <h3 class="text-2xl font-medium text-sky-400 dark:text-slate-100">Signup-form-tailwindcss</h3>
                <div class="space-y-2 mt-2">
                    <ul class="flex flex-row mb-2 gap-x-2"> 
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-orange-400/20 text-white py-1 px-2 "> 
                                <HtmlIcon class="size-4 fill-orange-500"/>
                                Html
                            </span> 
                        </li>
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2 "> 
                                <TailwindIcon class="size-4"/>
                                Tailwind CSS 
                            </span> 
                        </li> 
                        <li> 
                            <span class="flex gap-x-2 rounded-full text-xs bg-yellow-400/20 text-white py-1 px-2 "> 
                                <JavaScriptIcon class="size-4 fill-yellow-300"/>
                                Javascript
                            </span> 
                        </li>
                    </ul>

                    <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7 text-pretty">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sed, placeat magnam dicta expedita deserunt non tempore consectetur aspernatur provident laudantium exercitationem, nesciunt nihil blanditiis veritatis sit a qui, pariatur inventore error ipsam. Molestiae eos consequatur placeat. Libero, officia odit?
                    </p>
                    <div class="flex items-center gap-x-3">
                        <a href="https://github.com/lancer751/Rick-and-Morty-Filters-ReactApp" target="_blank" class="p-1.5 text-white text-sm font-normal gap-x-2 px-6 py-2 rounded-full bg-black flex items-center justify-center hover:scale-[1.05] transition-transform"
                            >
                            <GithubIcon/>
                            Ver Código
                        </a>

                        <a href="https://rest-countries-mockdata-react-app.netlify.app" target="_blank" class="inline-flex items-center justify-center h-max bg-cyan-500 shadow-lg transition-colors hover:bg-sky-400 hover:shadow-sky-400/50 shadow-cyan-500/50 px-8 py-2 gap-x-2 rounded-lg font-normal">
                            <PreviewIcon/>
                            Preview
                        </a>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>