---
    import BootstrapIcon from '../icons/BootstrapIcon.astro';
    import HtmlIcon from '../icons/HtmlIcon.astro';
    import CssIcon from '../icons/CssIcon.astro';
    import Keyboard from '../icons/Keyboard.astro';
import AstroIcon from '../icons/AstroIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
import JavaScriptIcon from '../icons/JavaScriptIcon.astro';

---


<section class="w-full" id="skills">
    <h2 class="flex items-center text-3xl font-semibold gap-x-8 text-indigo-700 dark:text-sky-500  mb-6 xl:mb-8 ">
        <Keyboard class="w-10 h-10 "/>
        Habilidades
    </h2>
    <article class="flex flex-col gap-7 drop-shadow-xl xl:flex-row">
        <div class="order-3 xl:gap-x-6">
            <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7">
                Entre las tecnologías que manejo en mi día a día para el desarrollo de proyecto frontend y backend se encuentran <strong class="text-sky-400 dark:text-sky-200">ReactJS, Javascript, HTML5, CSS5, TailwindCSS, BootStrap5, PHP y Astro</strong>. Debo añadir que también he adquirido conocimientos en bases de datos relaciones en especial MYSQL 
1					</p>
            <div class="flex justify-center gap-1 flex-wrap mt-5">
                <BootstrapIcon class="fill-violet-600 w-20 h-20 transition-transform hover:animate-tada"/>
                <HtmlIcon class="fill-orange-500 w-20 h-20 transition-transform hover:animate-tada"/>
                <CssIcon class="fill-blue-500 w-20 h-20 transition-transform hover:animate-tada"/>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-teal-500 w-20 h-20 transition-transform hover:animate-tada" viewBox="0 0 24 24"><path d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"></path></svg>

                <JavaScriptIcon class="fill-yellow-300 w-20 h-20 transition-transform hover:animate-tada"/>

                <svg xmlns="http://www.w3.org/2000/svg" class="fill-indigo-400 w-20 h-20 transition-transform hover:animate-tada" viewBox="0 0 24 24"><path d="M2.15 16.78h1.57a.14.14 0 0 0 .14-.12l.35-1.82h1.22a4.88 4.88 0 0 0 1.51-.2A2.79 2.79 0 0 0 8 14a3.18 3.18 0 0 0 .67-.85 3.43 3.43 0 0 0 .36-1 2.43 2.43 0 0 0-.41-2.16 2.64 2.64 0 0 0-2.09-.78h-3a.16.16 0 0 0-.15.13L2 16.6a.19.19 0 0 0 0 .13.17.17 0 0 0 .15.05zM5 10.62h1a1.45 1.45 0 0 1 1.08.29c.17.18.2.52.11 1a1.81 1.81 0 0 1-.57 1.12 2.17 2.17 0 0 1-1.33.33h-.8zm9.8-.95a2.7 2.7 0 0 0-1.88-.51h-1.19l.33-1.76a.15.15 0 0 0 0-.13.16.16 0 0 0-.11 0h-1.57a.14.14 0 0 0-.14.12l-1.38 7.27a.13.13 0 0 0 0 .12.13.13 0 0 0 .11.06h1.54a.14.14 0 0 0 .14-.13l.77-4.07h1.11c.45 0 .61.1.66.16a.81.81 0 0 1 0 .62l-.61 3.24a.13.13 0 0 0 0 .12.14.14 0 0 0 .11.06h1.56a.16.16 0 0 0 .15-.13l.64-3.4a1.7 1.7 0 0 0-.24-1.64zm4.52-.51h-3.13a.14.14 0 0 0-.15.13l-1.46 7.31a.16.16 0 0 0 0 .13.14.14 0 0 0 .11.05h1.63a.14.14 0 0 0 .15-.12l.37-1.82h1.27a5.28 5.28 0 0 0 1.56-.2 3 3 0 0 0 1.18-.64 3.31 3.31 0 0 0 .7-.85 3.45 3.45 0 0 0 .37-1 2.38 2.38 0 0 0-.42-2.16 2.81 2.81 0 0 0-2.18-.83zm.62 2.77a1.83 1.83 0 0 1-.6 1.12 2.28 2.28 0 0 1-1.37.33h-.8l.54-2.76h1a1.6 1.6 0 0 1 1.13.29c.16.18.16.52.1 1.02z"></path></svg>

                <span class="inline-flex place-items-center font-bold text-xl justify-center text-red-400 w-20 h-20 transition-transform hover:animate-tada">MySQL</span>

                <ReactIcon class="w-20 h-20 text-sky-400 transition-transform hover:animate-tada"/>
                
                <AstroIcon class="w-20 h-20 transition-transform hover:animate-tada"/>
                
            </div>
        </div>

        <img src="/my-desk.jpg" loading="lazy" alt="Laptop in a desk" class="block order-1 rounded-xl rotate-3 w-72 sm:w-96 object-cover bg-center ring-2 ring-sky/70 dark:ring-blue-900/70 mx-auto animate-sway-rigth">
    </article>
</section>