---
import User from "../icons/User.astro";

---



<section class="w-full" id="sobreMi">
    <h2 class="flex items-center text-3xl font-semibold gap-x-8 text-indigo-700 dark:text-sky-500 mb-6 xl:mb-8 ">
        <User class="w-10 h-10 "/>
        Sobre mí
    </h2>
    <article class="space-y-3 text-pretty">
        <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7">
            Mi nombe se  <strong class="text-sky-400 dark:text-sky-200">Lau</strong> y es un honor para mí presentarte mi trayectoria y pasión como desarrollador web. Dentro de estas páginas, descubrirás una muestra cuidadosamente seleccionada de mi trabajo, donde la creatividad se fusiona con la funcionalidad para crear experiencias digitales memorables.
        </p>
        <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7">
            Cada proyecto que verás refleja mi compromiso con la <strong class="text-sky-400 dark:text-sky-200">excelencia y la innovación</strong> en el mundo del desarrollo web. Desde la planificación hasta la implementación, cada línea de código está impregnada de atención al detalle y un deseo genuino de superar expectativas.
        </p>
        <p class="text-normal font-normal text-blue-800/80 dark:text-slate-100 leading-7">
            Te invito a explorar este compendio de proyectos con la misma emoción y curiosidad con la que los creé. Si alguna de estas muestras despierta tu interés o deseas discutir posibles colaboraciones, estaré encantado de escucharte.
        </p>
    </article>
</section>