---

import '@fontsource-variable/syne';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html xml:lang="en" data-theme="light" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="">
		<Navbar/>
		<main class="w-[90%] mx-auto max-w-3xl xl:max-w-screen-lg mt-14">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	body {
	font-family: 'Comfortaa Variable', system-ui;
	}
</style>
